.seller__section{
    margin-top: 100px;
}


.seller_section-title{
    font-size: 1.2rem; 
    color: greenyellow;
    text-decoration: underline;
    text-underline-offset: 15px !important ;  
}
.seller_img{
    width: 80px;
    height: 80px;
}

.name{
    color: #fff;
}

.price{
    color: blueviolet;
    font-size: 0.8rem;
}




@media only screen and (max-width: 992px){
    .seller__content h6{
font-size: 0.7rem
    }
}