.form_input input, .form_input textarea{
    width: 100%;
    padding: 7px 25px;
    color: #fff;
    font-size: 0.8rem;
    background: transparent;
    border: 1px solid  #8a2be2;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}


.heading__info h2{
    font-family: 'raleway';
}

.upload__text{
    text-align: center;
    font-size: 3rem;
    font-family: 'raleway';
}

.form_input{
    margin-bottom: 20px;
}


.form_input label{
    color: #fff;
    margin-bottom: 10px;
}

.form_input .upload__input{
    padding: 50px 25px;

}

::-webkit-calender-picker-indicator{
filter: invert(1);
cursor: pointer;
}


.create .btn{
    width: 150px !important;
    color: #fff;
    background: #8a2be2;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-top: 20px;
    margin-bottom: 30px;
   
}

.create .btn:hover{
    background: greenyellow;
    color: #fff;
}

@media only screen and (max-width: 768px){
    .create__item{
        margin-top: 15px;

    }
    .upload__text{
        text-align: center;
        font-size: 2.5rem;
        font-family: 'raleway';
    }
}

@media only screen and (max-width: 568px){
  .date{
    font-size: 0.8rem;
  }
  .upload__text{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'raleway';
}
}

@media only screen and (max-width: 400px){
    .date{
        font-size: 0.6rem;
      }
      .upload__text{
        text-align: center;
        font-size: 1.5rem;
        font-family: 'raleway';
    }
}