


.single__nft__seen span i{
color: #fff;
padding: 5px;
background: #8a2be2;
border-radius: 50px;
}


.single__nft__seen span, .single__nft__more span{
color: #fff;
font-size: 0.8rem;
cursor: pointer;


}

.single__nft__img{
    border-radius: 10px;
}


.single__nft__more span i{
 color: #fff;
padding: 5px;
background: #8a2be2;
border-radius: 50px;
cursor: pointer;

}

.nft__creator{
    background: #343444;
    padding: 10px ;
    border-radius: 7px;
    width: 50%;
}

.creator__img{
    width: 40px;
}

.creator__details p{
font-size: 0.8rem;
font-weight: 300;
margin-bottom: 0;
color: #808080;

}


.creator__details {
    color: #fff;
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: 500;
}


.offer-btn{
  
    padding: 10px 40px; 
    border-radius: 50px;
    background: blueviolet;
    border: none;
    outline: none;
    display: block;
    margin: auto;
    margin-top: 25px;
}

.creator__desc{
    margin: 40px 0;
    color: #fff;
    font-size: 1rem;
    line-height: 30px;
}


.offer-btn a{
    color: #fff;
    text-decoration: none;
}


@media only screen and (max-width: 991px){
    .single__nft__content{
        font-size: 1.3rem;
    }

    .nft__creator{
        width: 100%;
    }

    .creator__details p{
        font-size: 0.8rem;
        font-weight: 300;
        margin-bottom: 0;
        color: #808080;
        
        }

        .creator__desc{
            margin: 40px 0;
            color: #fff;
            font-size: 0.9rem;
            line-height: 30px;
        }

}

@media only screen and (max-width: 568px){
    .nft__creator{
        margin-top: 15px;
    }


    .creator__desc{
        margin: 30px 0;
        color: #fff;
        font-size: 0.9rem;
        line-height: 30px;
    }
    
}