
.creator__info .creator__bid{
    color: blueviolet;
}


img{
    cursor: pointer;
}


.creator__info h5{
    margin-top: 10px;

}


@media only screen and (max-width: 992px){
.nft__title{
    font-size: 1rem;
    
}

.creator__info h5{
    font-size: 0.7rem;

}

.creator__info p{
    font-size: 1rem;

}

.bid__btn{
    padding: 4px 20px;
    font-size: 0.8rem;
}

.bid__link a{
    font-size: 0.6rem !important;
}




}



@media only screen and (max-width: 1024px){
    .nft__title{
        font-size: 0.8rem;
        
    }
    
    .creator__info{
        font-size: 0.7rem;
    
    }
    
    .bid__btn{
        padding: 4px 20px;
        font-size: 0.7rem;
    }
    
    .bid__link a{
        font-size: 0.6rem !important;
    }
    .creator__info h5{
        font-size: 0.7rem;
       
    }

    .creator__info p{
        font-size: 0.7rem;
    }
    
    
}


@media only screen and (max-width: 991px){
    .bid__btn{
        padding: 4px 20px;
        font-size: 0.7rem;
    }
    
    .bid__link a{
        font-size: 0.6rem !important;
    }
}


@media only screen and (max-width: 555px){
    .bid__btn{
        padding: 4px 20px;
        font-size: 0.8rem;
    }

    .bid__link a{
        font-size: 0.8rem !important;
    }

    .creator__info p{
        font-size: 1rem;
       
    }
    
  
}
