.common__section{
    background: url('../../../assets/img/blockchain_bg.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 50vh; 
    overflow: hidden;
    padding-top: 130px;
}

