   .live__auction{
      margin-top: 100px;
   }
   
   
   
   .single__nft__card{
    padding: 15px;
    background: #343434;
    border-radius: 20px;
    font-family: 'sans serif';
    margin-bottom: 3rem;
   }


   .nft__img img{
    border-radius: 10px;

   }


   .nft__img {
    margin-bottom: 20px;
   }

   .nft__title a{
    color: #fff;
    font-size: 1rem;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
   }


   .nft__title{
      text-align: center;
      
   }


   .creator__img{
    height: 20px;
   }

   .creator__info h5{
    font-size: 0.7rem;
    color: #fff;
    margin-bottom: 0;
    font-weight: 400;
   }

   .creator__info p{
    font-size: 0.8rem;
    margin-bottom: 0;
    font-weight: 500;
   }

   .card__btn{
     gap: 20px;
   }

   .bid__btn {
      background: transparent;
      color: #fff;
      border: none;
      outline: none;
      color: chartreuse;
   }

   .bid__btn i{
      color: greenyellow;
   }


   .bid__btn:hover{
      background: transparent;
      border: 1px solid white;
      border-radius: 50px;
      padding: 2px 7px;
      transition: 0.3s ease;
   }

   .bid__link a{
      color: blueviolet;
      text-decoration: none;
      font-size: 00.9rem;

   }

   .live__sales__top{
      color: #fff;
      font-family: 'raleway';
   }


   .live__sales__top h3{
      color: greenyellow;
      text-decoration: underline;
      text-underline-offset: 15px !important ;

   }


   .live__sales__top span a{
      text-decoration: none;
      font-size: 1.2rem;
      color: greenyellow;

   }



