.hero__section{
    margin-top: 100px;
    font-family: 'raleway';
}

.hero__content{
line-height: 55px;
margin-top: 120px;
}


.hero__btn{
    margin-top:50px;
}


.nft__color{
    color: blueviolet;
    font-family: serif;
    font-size: larger;
}


.hero-btn1 {
    padding: 20px 70px; ;
    padding-bottom: 20px;
    border-radius: 30px;
    background: blueviolet;
    text-align: center;
    border: none;
}

.hero-btn1 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
}

.hero-btn1:hover{
  background: transparent;
  border: 1px solid blueviolet;

    color: white;
}


.hero-btn1:hover a{
    color: white;
}

.hero-btn1 .hero-btn2, i{
    color: white;
    padding: 5px;
}

.hero-btn2{
    background: transparent;
    border: 1px solid blueviolet;
    padding: 20px 70px;
    padding-bottom: 20px;
    border-radius: 30px;
}


.hero-btn2 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
}

.hero-btn2:hover{
    background: blueviolet;
}
 .hero-btn2:hover a{
    color: #fff;
 }


 .hero-img{
    width: 500px;
    margin-left: auto;
 }

 .hero-img img{
    border-radius: 2rem;
 }

 

 @media only screen and (max-width: 991px){
    .hero-img{
        width: 300px;
        margin-top: 90px;
    }
    .hero__content{
        font-size: 1.5rem;
        line-height: 40px;
    }

    .hero__content p{
        font-size: 0.8rem ;
        line-height: 25px;
    }

    .hero__btn {
        margin-top: 90px;
        align-items: center;
    }

    .hero-btn1{
        padding: 15px 50px; ;
    }

    .hero-btn2{
        padding: 15px 50px; ;
    }


 }


 @media only screen and (max-width: 576px){
.hero-img{
    width: 100%;
    margin: auto;
    margin-top: 50px;
}


.hero-btn1{
    padding: 7px 30px; ;
}

.hero-btn2{
    padding: 7px 30px; ;
}

.hero__section{
    margin-top: 5 0px;}
 }



 @media only screen and (max-width: 745px){
   .hero-img{
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }
 }


 @media only screen and (max-width: 1110px){
    .hero-img{
        width: 330px;
        margin-top: 90px;
    }

    .hero__content{
        font-size: 1.5rem;
        line-height: 40px;
    }

    .hero__content p{
        font-size: 0.8rem ;
        line-height: 25px;
    }

    .hero__btn {
        margin-top: 130px;
        align-items: center;
    }
 }